@import "bootstrap";

$colour_text: #333;
$colour_grey: #999;

// layout

body, html {
  height: 100%;
  overflow: hidden;
}

body {
}

#wrapper {
  height: 100%;

  #main-container {
    height: 100%;
    overflow: hidden;
    padding-top: 50px;
  }
}

#list-api-div,
#show-api-div {
  height: 100%;
  overflow: auto;

  .div-container {
    padding-bottom: 50px;
  }
}

// elements

.hidden {
  display: none;
}

.form-actions {
  padding-bottom: 0;
  margin-bottom: 0;
}

legend {
  font-size: 14px;
  font-weight: bold;
  color: $colour_grey;

  &.compact-legend {
    padding: 0;
    font-size: 12px;
    line-height: 24px;
  }

  &.hero-legend {
    margin: 0;
    border: none;
  }
}

.nav-label {
  padding: 8px 12px;
  line-height: 18px;
  margin-right: 5px;
  font-weight: bold;
  color: $colour_grey;
}

.label-api {
  display: inline-block;
  padding-right: 5px;
}

.label-api-full {
  width: 50px;
  text-align: right;
}

.breadcrumb-parent {
  font-weight: bold;
  color: $colour_grey;
}

#show-api-response-div {
  pre {
    color: #fff;
  }
  pre.nowrap {
    overflow-x: auto;
    white-space: pre;
    word-wrap: normal;
  }
  pre[ref=response-info] {
    background: #000;
  }

  table {
    td {
      padding: 0 1em 0 0;
      vertical-align: top;

      &.name {
        text-align: right;
      }
    }
  }
}
