<ul class="breadcrumb">
  <li class="breadcrumb-parent"><%= parent %><span class="divider">/</span></li>
  <li>
    <div class="label-api">
      <span class="label label-<%= label_type %>"><%= label %></span>
    </div>
    <strong><%= current %></strong>
  </li>
</ul>