<div class="control-group">
  <label class="control-label" for="<%= label %>"><%= defined?(label_text) ? label_text : label %></label>
  <div class="controls">
    <input type="text" name="<%= label %>" value="<%= value %>"></input>
  </div>
</div>
