<div class="alert alert-error">
  <p><strong><%= "Route '#{route[:verb]} #{route[:path]}' is undefined." %></strong></p>
  <p>Please define this route in <code>routes.rb</code>:</p>

  <%= render 'route_definitions', :routes => [route] %>
</div>